
/*************************change the delay on the other animations****************************
.startUp{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: disapear 1s forwards 1s;
}
@keyframes disapear {
    to{
        z-index: -1;
    }
}
.flash{
    width: 0%;
    height: 0%;
    margin-left: 50%;
    background-color: rgb(13, 13, 13);
    border-radius: 100%;
    justify-content: center;
    animation: flashIt .5s forwards .5s;
}

@keyframes flashIt {
    50%{
        margin-left: 0;
        width: 100%;
        height: 10%;
        background-color: azure;
        border-radius: 100%;
    }
    100%{
        background-color: black;
        width: 0%;
        height: 0%;
        margin-left: 50%;
    }
}
*******************************************************************************************/
@media (min-width: 600px){
    .page {
        font-size: 16px;
        height: 100vh;
        max-width: 900px;
        margin: auto;
        gap: .5em;
        display: grid;
        grid-template-areas:
            'nav'
            'top'
            'mid'
            'bottom'
            'footer';
        grid-template-rows: .5fr 2.5fr 1.5fr 4fr .4fr;

    }



    .container{
        outline: red dashed 0px;
    }

    .nav{
        grid-area: nav;
        display: grid;
        grid-template-areas: 
        'options'
        'topLine';
        grid-template-rows: 10fr 1fr;
    }
    .options{
        text-align: center;
        align-items: center;
        display: grid;
        grid-template-areas: 
        'LA cv stats exp social contact RA';
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;

    }
    .LA{
        grid-area: LA;
    }
    .cv{
        grid-area: cv;
    }
    .stats{
        grid-area: stats;
    }
    .exp{
        grid-area: exp;
    }
    .social{
        grid-area: social;
    }
    .contact{
        grid-area: contact;
    }
    .RA{
        grid-area: RA;
    }

    .top{
        grid-area: top;
        gap: .5em;
        display: grid;
        grid-template-areas: 
        'info techskills';
        grid-template-columns: 1fr 1.1fr;
    }

    .info{
        grid-area: info;
        display: grid;
        grid-template-areas: 
        'innerInfo QR';
        grid-template-columns: 3fr 1.5fr;
    }
    .innerInfo{
        grid-area: innerInfo;
    }
    .QR{
        grid-area: QR;
    }

    .techskills{
        grid-area: techskills;
    }
    .skillGroups{
        display: flex;
        flex-direction: column;
    }

    .skillGroup{
        display: flex;
        flex-direction: row;
    }
    .profGroups{
        display: flex;
        flex-direction: column;
    }
    .profGroup{
        display: flex;
        flex-direction: row;
    }
    

    .mid{
        grid-area: mid;
        gap: .5em;
        display: grid;
        grid-template-areas: 
        'check traits';
    }

    .check{
        grid-area: check;
    }

    .traits{
        grid-area: traits;
    }

    .traitGroups{
        display: flex;
        flex-direction: column;
    }

    .traitGroup{
        display: flex;
        flex-direction: row;
        margin-top: .4em;
    }

    .bottom{
        grid-area: bottom;
    }

    .footer{
        grid-area: footer;
    }
}
